<h3>Sign Up</h3>
<form :action="/sign_up" method="POST">
	<input placeholder="E-mail" name="user[email]" id = "email">
	<input placeholder="Password" name="user[password]" id ="password">
	<input type="submit" value="Sign Up">
</form>












